.mainContainer {
      background-color: var(--white);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 60vh;
      width: 28vw;
      box-shadow: 2px 2px 1px lightgray;
}

.imageContainer {
      position: relative;
      height: 30vh;
      width: 25vw;
}

.content {
      display: flex;
      flex-direction: row;
      align-items: center;
}

.title {
      width: fit-content;
      height: 12vh;
}

@media only screen and (max-width: 600px){
      .mainContainer {
            width: 85vw;
            margin-bottom: 3vh;
      }
      .imageContainer {
            width: 75vw;
      }
      .title {
            font-size: 3vh;
      }
}